body
{
    margin: 0;
    padding: 0;
    background-color: darkorange;
    font-family: Srinakharinwirot;
}
.pageBox {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1150px;
    height: 1420px;
    padding: 10px ;
    box-sizing: border-box;
    background: #ffcb32;
}
.pageBox h1 {
    font-size: 60px;
    color: white;
    border: #353535;
}
.pageRegister {
    width: 500px;
    height: 1250px;
    padding: 30px 30px ;
    box-sizing: border-box;
    background: white;
    border-radius: 45px;
}

.pageRegister p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #353535;
}
.pageRegister input
{
    width: 100%;
    margin-bottom: 20px;
}
.pageRegister input[type= "text"],
.pageRegister input[type= "password"],
.pageRegister input[type="number"]

{
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background: transparent;
    outline: none ;
    height: 40px;
    color: #484848;
    font-size: 16px;
}
::placeholder
{
    color: rgba(255,255,255,.5);
}
.pageRegister input[type="submit"]
{
    border : none;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    background: #ff8c00;
    cursor: pointer;
    border-radius: 20px;
}
.pageRegister input[type="submit"]:hover
{
    background: #dc6104;
    color: #ffffff;
}
.pageRegister a
{
    color: #242424;
    font-size: 14px ;
    font-weight: bold;
    text-decoration: none;
}
.pageRegister
{
    color: #ff7006;
    font-size: 20px ;
    font-weight: bold;
    text-decoration: none;
}